<!DOCTYPE HTML>
<html>
    <head>
        <title>Ian Mwirigi - Portfolio</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="/static/assets/css/main.css" />
		<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
        <noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>
    </head>
    <body class="is-preload">

        <div id="wrapper">

                <header id="header">
                        <div class="logo">
                            <span class="icon fa-user"></span>
                        </div>
                        <div class="content">
                            <div class="inner">
                                <h1>Ian Mwirigi</h1>
                                <p>Project Management | Market Researcher | Brand Strategist</p>
                            </div>
                        </div>
                        <nav>
                            <ul>
                                <li><a href="#intro">Intro</a></li>
                                <li><a href="#work">Work</a></li>
                                <li><a href="#about">About</a></li>
                                <li><a href="#contact">Contact</a></li>
                            </ul>
                        </nav>
                    </header>

                <div id="main">

                        <article id="intro">
                                <h2 class="major">Intro</h2>
                                <span class="image main"><img src="static/images/pic01.jpg" alt="" /></span>
                                <p>Versatile and analytical Project Management professional with strong grounding in economics, market research, and brand strategy.  Demonstrates a proven track record in coordinating high-impact development projects, driving client acquisition campaigns, and optimizing workflow efficiencies. </p>
                                <p>Experienced in working with both corporate agencies and nonprofit foundations to deliver measurable outcomes through strategic planning, stakeholder engagement, and data-driven decision-making.  Strong interpersonal and communication skills enhance the ability to build lasting partnerships, align teams around shared goals, and navigate complex economic and organizational environments.  Passionate about using economic insights to inform strategy and foster sustainable growth. </p>
                            </article>

                        <article id="work">
                                <h2 class="major">Work</h2>
                                <span class="image main"><img src="static/images/pic02.jpg" alt="" /></span>
                                <h3>Field Sales Representative (part-time role) - Red Giant Media Agency (Feb 2025 - March 2025)</h3>
                                <ul>
                                    <li>Exceeded monthly sales targets by an average of 20% through strategic lead generation and effective client relationship management. </li>
                                    <li>Led a customer acquisition campaign focused on increasing brand awareness, resulting in a 35% increase in brand visibility within the target market. </li>
                                    <li>Developed and maintained strong client relationships, strengthening stakeholder engagement and negotiation skills. </li>
                                </ul>
                                <h3>Project Management Team Member (volunteer) - TLX (Feb 2024- May 2024)</h3>
                                <ul>
                                    <li>Contributed to developing fundraising strategies that increased contributions by 50%.</li>
                                    <li>Coordinated stakeholder participation and communication, fostering relationships that led to 3 long-term partnerships. </li>
                                    <li>Assisted in writing high-impact proposals and managing donor relations, securing KES 100K in funding. </li>
                                </ul>
                                <h3>Project Management Attache - KTDA FOUNDATION (Sep 2023 - Jan 2024)</h3>
                                <ul>
                                    <li>Assisted in managing components of a KES 5M project, ensuring milestone completion through meticulous tracking and coordination. </li>
                                    <li>Identified and implemented workflow process optimizations, reducing operational inefficiencies by 15%.</li>
                                    <li>Supported risk assessment activities, contributing to the mitigation of potential project delays. </li>
                                    <li>Assisted in preparing project status reports and maintaining documentation. </li>
                                </ul>
                            </article>

                        <article id="about">
                                <h2 class="major">About</h2>
                                <span class="image main"><img src="/static/images/pic03.jpg" alt="" /></span>
                                <h3>Education</h3>
                                <ul>
                                    <li><b>Bachelor of Science in Project Management</b> - Jomo Kenyatta University of Agriculture and Technology (JKUAT) (Sept 2021-Jun 2025)</li>
                                    <li><b>Professional Certificate in Agile and Scrum</b> - Institute of Management, Technology & Finance (Feb 2025)</li>
                                    <li><b>Foundations of Leadership</b> - University Pathways International (Oct 2024-- Present)</li>
                                </ul>
                                <h3>Skills</h3>
                                <div class="table-wrapper">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td>Programming & Analysis</td>
                                                <td>Machine learning & Al frameworks</td>
                                            </tr>
                                            <tr>
                                                <td>Agile & Scrum</td>
                                                <td>Market Analysis Support</td>
                                            </tr>
                                            <tr>
                                                <td>Research & Reports</td>
                                                <td>Data Analysis</td>
                                            </tr>
                                            <tr>
                                                <td>Microsoft Office Suite</td>
                                                <td>Campaign Planning & Execution</td>
                                            </tr>
                                             <tr>
                                                <td>Project Coordination & Task Management</td>
                                                <td>Cross-Functional Collaboration</td>
                                            </tr>
                                            <tr>
                                                <td>Digital Communication</td>
                                                <td>Data-Driven Storytelling</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </article>

                        <article id="contact">
                                <h2 class="major">Contact</h2>
                                <p> <b>Email:</b> ianmwirigi@outlook.com <br> <b>Location:</b> Nairobi, Kenya </p>
                                <ul class="icons">
                                    <li><a href="https://www.linkedin.com/in/ian-mwirigi-27939821a/" class="icon brands fa-linkedin"><span class="label">LinkedIn</span></a></li>
                                    <li><a href="https://www.x.com/ian_is_crowned" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                                </ul>
                            </article>
                    </div>

                <footer id="footer">
                        <p class="copyright">&copy; Ian Mwirigi. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
                    </footer>

            </div>

        <div id="bg"></div>

        <script src="static/assets/js/jquery.min.js"></script>
            <script src="./static/assets/js/browser.min.js"></script>
            <script src="./static/assets/js/breakpoints.min.js"></script>
            <script src="./static/assets/js/util.js"></script>
            <script src="./static/assets/js/main.js"></script>

    </body>
</html>